Repository ajounice/momentrip_frontend, pull requests merged in 2022-11, with the labels that each got.

#86 refactor: config, OAuth 파일 대신 .env.**로 관리하도록 수정
  src/Login/OAuth.ts
  src/Login/page/LoginPage.tsx
  src/components/Card/Follow.tsx
  src/components/Card/Follower.tsx
  src/components/Modal/Vertical/Comment.tsx
  src/components/Navigation/Navigation.tsx
  src/components/Navigation/VerticalNavigation.tsx
  src/components/View/ShortForm.tsx
  src/components/View/ShortFormVideo.tsx
  src/components/common/MapComponent.tsx
  src/components/common/ProfileInSF.tsx
  src/config.ts
  src/pages/HomePage.tsx
  src/pages/Profile.tsx
  src/pages/RenderingPage.tsx
  src/pages/SignUpPage.tsx
  src/pages/UploadShortFormPage.tsx
  src/pages/WishPage.tsx
  src/pages/mypage/AdditionalInfo.tsx
  src/pages/mypage/FollowPage.tsx
  src/pages/mypage/MyPage.tsx
  src/pages/mypage/ProfileSettingPage.tsx
  src/pages/mypage/SettingPage.tsx
Labels: refactor

#88 style(SignUp): 가로 길이 수정, 버튼 글자 크기 수정
  src/pages/SignUpPage.tsx
  src/styles/pages/Signup.css
Labels: style

#93 Style/css
  package-lock.json
  src/index.css
  src/styles/Login/Auth.css
  src/styles/Login/LoginPage.css
  src/styles/components/Button/FollowButton.css
  src/styles/components/Card/Follow.css
  src/styles/components/Modal.css
  src/styles/components/Modal/Vertical/Comment.css
  src/styles/components/Modal/Vertical/Share.css
  src/styles/components/Modal/Vertical/TourInfo.css
  src/styles/components/common/AlertModal.css
  src/styles/components/common/Navigation.css
  src/styles/components/common/ProfileInSF.css
  src/styles/components/common/Tag.css
  src/styles/pages/HomePage.css
  src/styles/pages/MyPage.css
  src/styles/pages/ProfileSettingPage.css
  src/styles/pages/Signup.css
  src/styles/pages/UploadPage.css
  src/styles/pages/mypage/AdditionalInfo.css
  src/styles/pages/mypage/Follow.css
  src/styles/pages/mypage/ProfileSetting.css
  src/styles/pages/mypage/Setting.css
Labels: refactor, style, code-review

#92 style: bookmark css 수정
  src/styles/components/Modal/Vertical/TourInfo.css
Labels: style, code-review
